// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  background-color: red;
  border-radius: 20rem 20rem 0 0;
  width: 20rem;
  height: 9rem;
  padding-top: 1rem;
}
.orange {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: orange;
  border-radius: 18rem 18rem 0 0;
  width: 18rem;
  height: 8rem;
}
.yellow {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: yellow;
  border-radius: 16rem 16rem 0 0;
  width: 16rem;
  height: 7rem;
}
.green {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: green;
  border-radius: 14rem 14rem 0 0;
  width: 14rem;
  height: 6rem;
}
.blue {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: blue;
  border-radius: 12rem 12rem 0 0;
  width: 12rem;
  height: 5rem;
}
.darkblude {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: darkblue;
  border-radius: 10rem 10rem 0 0;
  width: 10rem;
  height: 4rem;
}
.purple {
  margin-left: 1rem;
  padding-top: 1rem;
  background-color: purple;
  border-radius: 8rem 8rem 0 0;
  width: 8rem;
  height: 3rem;
}
